@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

.page-container {
  background: url(/images/bg-intro-desktop.png) no-repeat;
  background-size: cover;
  background-color: #ff7978;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 800px) {
  .page-container {
    height: 100%;
  }
}

.content {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 800px) {
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
  }
}

.left-card {
  color: white;
  max-width: 600px;
  margin: 0 30px;
}

.left-card h1 {
  margin: 10px 0;
}

.left-card p {
  margin: 20px 0;
}

@media screen and (max-width: 430px) {
  .left-card {
    padding-top: 20px;
    max-width: 400px;
  }
  .left-card h1 {
    font-size: 28px;
  }
}

.right-card {
  margin: 0 30px;
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 430px) {
  .right-card {
    width: 90%;
    margin: 0 auto;
  }
}

.form {
  width: 100%;
  background-color: white;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  padding-top: 20px;
}

@media screen and (max-width: 430px) {
  .form {
    width: 90%;
    margin: 0 auto;
  }
}

.btn-top {
  width: 400px;
  margin: 20px 0;
  height: 40px;
  color: white;
  background-color: #5d54a3;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: 300;
}

.btn-top span {
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  .btn-top {
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .btn-top {
    width: 90%;
    margin: 20px auto;
  }
}

.label {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5px;
}

.placeholder {
  position: absolute;
  left: 12px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  color: #aaa;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input {
  width: 100%;
  height: 100%;
  border: none;
  border: 2px solid #ddd;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  background: none;
  padding: 12px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.label input:valid,
.label input:focus {
  border: 2px solid black;
}

.label input:valid + .placeholder,
.label input:focus + .placeholder {
  top: -17px;
  font-size: 12px;
  color: #222;
  background-color: white;
  padding: 0 5px;
}

.submit {
  width: 80%;
  margin: 0 auto;
  background-color: #37cd86;
  border: none;
  outline: none;
  color: white;
  height: 40px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
}

.terms {
  margin-top: -20px;
  margin-bottom: 10px;
  font-size: 12px;
  color: lightgray;
  text-align: center;
}

.terms span {
  color: #ff7978;
  font-weight: 700;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */