@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

.page-container {
  width: 100%;
  height: 100vh;
}

nav {
  width: 100%;
  height: 90px;
}

.nav-container {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid black;
  height: 100%;
  padding: 0 20px;
  position: relative;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
}

.nav-links li {
  list-style: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-links li:last-child {
  border: 2.5px solid black;
  font-weight: 600;
}

.nav-links li:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.nav-links li a {
  display: block;
  color: black;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 90px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: url(/images/bg-pattern-mobile-nav.svg) no-repeat;
    background-color: black;
    background-size: contain;
    background-position-y: 60vh;
  }
  .nav-links li:last-child {
    border: 2px solid white;
  }
  .nav-links a {
    color: white !important;
  }
}

.nav-links-active {
  -webkit-transform: translateY(90px);
          transform: translateY(90px);
}

.hamburger {
  width: 40px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 20px;
  visibility: hidden;
}

.hamburger .line {
  width: 40px;
  height: 5px;
  background-color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .hamburger {
    visibility: visible;
  }
}

.line-active:nth-child(1) {
  -webkit-transform: translateY(12.5px) rotate(45deg);
          transform: translateY(12.5px) rotate(45deg);
}

.line-active:nth-child(2) {
  opacity: 0;
}

.line-active:nth-child(3) {
  -webkit-transform: translateY(-12.5px) rotate(-45deg);
          transform: translateY(-12.5px) rotate(-45deg);
}

.home-container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.home-container:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  height: 80vh;
  width: 100vw;
  background-color: #2C2640;
}

.home-content {
  max-width: 1200px;
  margin: 0 auto;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-wrap {
  position: relative;
  max-width: 500px;
  width: 50%;
  height: 500px;
}

.img-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */